# Android Studio

mobile/.gradle/
mobile/.idea/
mobile/build/
mobile/captures/
mobile/.externalNativeBuild/
mobile/.cxx/
mobile/*.iml
mobile/local.properties
mobile/.DS_Store

# ASP.NET Core Web API

api/bin/
api/obj/
api/.vs/
api/*.user
api/*.suo
api/*.userosscache
api/*.sln.docstates
api/*.dbmdl
api/*.bak
api/*.mdf
api/*.ldf
api/*.ndf